@(companies: Seq[models.RealEstateCompany], realEstateCompanyForm: play.data.Form[models.RealEstateCompany])

@common.guest("Real Estate Companies") {
	@for(company <- companies) {
		<div>@company.name</div>
		<div>@company.email</div>
		<div>@company.phone</div>
		<div>@company.address</div>
		<div><a href="/admin/apartmentBuildings/@company.id">Apartment Buildings</a></div><p/>
	}
	
	<button type="button" id="add-company" class="btn btn-primary btn-large btn-block btn-lg" 
					role="button" data-toggle="modal" data-target="#addCompany">Add Company</button>
					
	@addRealEstateCompanyModal(realEstateCompanyForm)				
}