@(users: List[models.UserAccount])

@import enums.AccountType 

@common.guest("User") {
	<table class="table">
	@for(user <- users) {
		<tr>
			<td>@user.name</td>
			<td>@user.email</td>
			
			<td>
				<div class="btn-group">
					<form method="post" action="/admin/updateUser/@user.id/Resident">
					<button type="submit" class="btn @{if (user.accountType != AccountType.Resident)
						"btn-default" else "btn-success"}">Resident</button></form>
					<form method="post" action="/admin/updateUser/@user.id/Manager">
					<button type="submit" class="btn @{if (user.accountType != AccountType.Manager)
						"btn-default" else "btn-success"}">Manager</button></form>
					<form method="post" action="/admin/updateUser/@user.id/Supervisor">
					<button type="submit" class="btn @{if (user.accountType != AccountType.Supervisor)
						"btn-default" else "btn-success"}">Supervisor</button></form>
				</div>
			</td>
		</tr>			
	}
  	</table>
}