@(billForm:Form[models.Bill], apartments: Seq[models.Apartment])

@common.main("New Bill Record") {
	<h1> Add a Bill Record </h1>
	@helper.form(action = controllers.bill.routes.BillController.postBill()) {
     	@helper.select(field = billForm("apartment"), apartments.map {a => a.id.toString -> a.apartmentNo}, '_label -> "Choose Apartment")
		
		<h5> Date of Issuing </h5>
		@helper.input(billForm("dateOfIssuing"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="date" class="form-control" name="@name" id="@id"
							placeholder="Date of Issuing">
					}		
				
		@helper.input(billForm("description"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Description">
					}		
		
		@helper.input(billForm("status"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Status">
					}				
		
		<h5> Deadline </h5>
		@helper.input(billForm("deadline"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="date" class="form-control" name="@name" id="@id"
							placeholder="Deadline">
					}		
		
		@helper.input(billForm("amount"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Amount">
					}		            
        
        <button type="submit" class="btn btn-success">Submit</button>           
	}
}