@(billForm:Form[models.Bill], apartments: Seq[models.Apartment])

@common.main("New Bill Record") {
	<h1> Add a bill record </h1>
	@helper.form(action = controllers.bill.routes.BillController.postBill()) {
     	@helper.select(field = billForm("apartment"), apartments.map {a => a.id.toString -> a.apartmentNo}, '_label -> "Choose Apartment")
		
		@helper.inputText(billForm("dateOfIssuing"))
		
		@helper.inputText(billForm("description"))
					
		@helper.inputText(billForm("status"))
		
		@helper.inputText(billForm("deadline"))
		
		@helper.inputText(billForm("amount"))              
        
        <button type="submit" class="btn btn-success">Create</button>           
	}
}