@(billForm:Form[Bill], apartments:Seq[Apartment])

@common.main("New Bill") {
	<h1> Add a Bill </h1>
	@helper.form(action = controllers.bill.routes.BillController.postBill()) {
	
		<!-- Apartment selection drop down goes here -->
		
		@helper.input(billForm("description"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Description">
					}
		
		@helper.input(billForm("deadline"),
						 '_showConstraints -> false,
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="date" class="form-control" name="@name" id="@id"
							placeholder="Deadline">
					}
            
        @helper.input(billForm("status"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Status">
					}
            
        @helper.input(billForm("amount"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="number" class="form-control" name="@name" id="@id"
							placeholder="Amount">
					}
        
        <button type="submit" class="btn btn-success">Submit</button>    
        
	}
}