@(billForm:Form[Bill])

@common.main("New Bill") {

	@if(billForm.hasErrors) {
	<div style="background-color:red; color:white;">
		<h1>Incomplete Bill Information</h1>
        The form has @billForm.errors.size errors
    </div>
    } else {
	    	<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><h3> Bill submitted successfully. </h3></div>
			  <div class="panel-body">	   
			 </div>
		
			<table class="table table-bordered table-striped table-hover">
										
				<tr>
					<th> <h4> ID </h4> </th>
					<th> <h5> @billForm.get.id </h5> </th>
				</tr>
				
				
				<tr>	
					<th> <h4> Issued to </h4> </th>
					<th> <h5> @billForm.get.apartment.apartmentNo </h5> </th>
				</tr>
				
				
				<tr>	
					<th> <h4> Description </h4> </th>
					<th> <h5> @billForm.get.description </h5> </th>
				</tr>
				
				
				<tr>	
					<th> <h4> Date of Issuing </h4> </th>
					<th> <h5> @billForm.get.dateOfIssuing </h5> </th>
				</tr>
				
				
				<tr>	
					<th> <h4> Deadline </h4> </th>
					<th> <h5> @billForm.get.deadline </h5> </th>
				</tr>
				
				
				<tr>	
					<th> <h4> Status </h4> </th>
					<th> <h5> @billForm.get.status </h5> </th>
				</tr>
					
				<tr>
					<th> <h4> Amount </h4> </th>
					<th> <h5> @billForm.get.amount </h5> </th>					
				</tr>
			</table>       
    }                 
}