@(billForm:Form[Bill])

@common.main("New Bill") {

	@if(billForm.hasErrors) {
	<div style="background-color:red; color:white;">
		<h1>Incomplete Bill Information</h1>
        The form has @billForm.errors.size errors
    </div>
    } else {    	
    	<h2>Bill ID : @billForm.get.id</h2> <br>
        <h4>@billForm.get.description</h4> <br>
        <h4>Issuing Date : @billForm.get.dateOfIssuing</h4> <br>
        <h4>Deadline : @billForm.get.deadline</h4> <br>
        <h4>Status : @billForm.get.status</h4> <br>
        <h4>Amount : @billForm.get.amount </h4> <br>
    }                 
}