@(tasks:List[Task], listHeading:String)

@common.main("Maintenance Tasks") {

	<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h3> @listHeading </h3></div>
		  <div class="panel-body">	   
		 </div>
	
	<table class="table table-bordered table-striped table-hover">
		
		<tr>
			<th> <h4> ID </h4> </th>
			<th> <h4> Task Type </h4> </th>
			<th> <h4> Description </h4> </th>
			<th> <h4> Status </h4> </th>
			<th> <h4> Date of Issuing </h4> </th>
			<th> <h4> Deadline </h4> </th>
			<th> <h4> Set as Completed </th>
		</tr>
								
		@for(task <- tasks){
			<tr>		    
		        <th> <h5>@task.id</h5> </th>
		        <th> <h5>@task.taskType</h5> </th>
		        <th> <h5>@task.description</h5> </th>
		        <th> <h5>@task.status</h5> </th>
		        <th> <h5>@task.dateOfIssuing</h5> </th>
		        <th> <h5>@task.deadline</h5> </th>
		        <th>
		        	<form action=@controllers.maintenance.routes.MaintenanceTaskController.setTaskCompleted(task.id)><button type="submit"> Set as completed </button></form>
		        </th>		    
		    </tr>
		    }
		    
	</table>

}