@(notices:List[models.Notice])

@import org.joda.time.LocalDate

@common.main("Notice Board") {
    @helper.form(action = controllers.communications.routes.NoticeController.loadNotice) {
    
    <h1> Notice Board </h1>
    <div class="col-md-8">
      <select name="internalId" class="form-control">
        @notices.sortBy(_.validUntil.getTime).map { n =>
        <option value="@n.internalId">@n.subject on @n.publishDate</option>
        }
      </select>
      <p/>
      <button class="btn btn-default">Show</button>
      </div>
    }
}