@(threadForm:Form[models.Thread], receivers:Seq[UserAccount], messageForm:Form[models.Message])

<div class="modal fade" id="createThreadModal" tabindex="-1" role="dialog"
	aria-labelledby="threadLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="createThreadModal">Create New Thread</h4>
				</div>
					@helper.form(action = controllers.communications.routes.ThreadController.createThread) {
					    @helper.inputText(threadForm("subject"))
						@helper.inputText(threadForm("category"))
						<select name="receiver">
					        @receivers.sortBy(_.name).map { r =>
					        <option value="@r.id">@r.name</option>}
					 	</select>
						@helper.inputText(messageForm("body")) }
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

