@(threadForm:Form[models.Thread], receivers:Seq[UserAccount], messageForm:Form[models.Message])

<div class="modal fade" id="createThreadModal" tabindex="-1" role="dialog"
	aria-labelledby="threadLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="createThreadModal">Create New Thread</h4>
			</div>
				<div>
					@helper.form(action = controllers.communications.routes.ThreadController.createThread) {
					    @helper.input(threadForm("subject"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Subject">
						}
						
						@helper.input(threadForm("category"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Category">
						}
					    						
						<select name="receiver">
					        @receivers.sortBy(_.name).map { r =>
					        <option value="@r.id">@r.name</option>}
					 	</select>
					 	
					 	@helper.input(messageForm("body"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Message Body">
						}
					 						
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Create</button>
					</div>
					}
				</div>
		</div>
	</div>
</div>

