@(threadForm:Form[models.Thread], receivers:Seq[UserAccount])

@common.main ("Create new Thread") {
  @helper.form(action = controllers.communications.routes.ThreadController.createThread) {
    @helper.inputText(threadForm("subject"))
	@helper.inputText(threadForm("category"))
	@helper.inputRadioGroup(
		threadForm("receiver"),
		options = receivers.map(i=>(i.name)->i.id.toString),
		'_label -> "Receiver",
		'_error -> threadForm("receiver").error.map(_.withMessage("select receiver")))
    <input type="submit" value="Create"/>
  }
}