@(threads:List[models.Thread])

@import org.joda.time.LocalDate

@common.main ("Allthreads") {
  <h2>Archives</h2>
    @helper.form(action = controllers.communications.routes.ThreadController.loadThread) {
      <select>
        @threads.filter(_.date isBefore LocalDate.now).sortBy(_.occurrence).map { t =>
        <option value="@t.internalId">@t.subject on @t.date</option>
        }
      </select>
      <button>Show</button>
    }
  <h2>Active</h2>
    @helper.form(action = controllers.communications.routes.ThreadController.loadThread) {
      <select name="threadid">
        @threads.filter(_.date == LocalDate.now).sortBy(_.occurrence).map { t =>
        <option value="@t.internalId">@t.subject on @t.date</option>
        }
      </select>
      <button>Load</button>
    }
  <hr>
  <a href="@controllers.communications.routes.ThreadController.registerThread()">Create a new one</a>
}