@(activeThreads:List[models.Thread], archivedThreads:List[models.Thread], threadForm:Form[models.Thread], receivers:Seq[UserAccount], messageForm:Form[models.Message])

@import org.joda.time.LocalDate

@common.main("Allthreads") {
	<div class="col-md-6 col-md-offset-3">
<!--   <h2>Archives</h2>
    @helper.form(action = controllers.communications.routes.ThreadController.loadThread) {
      <select class="form-control">
        @archivedThreads.sortBy(_.occurrence).map { t =>
        <option value="@t.internalId">@t.subject on @t.sentTime</option>
        }
      </select>
      <button class="btn btn-default">Show</button>
    }
 -->
  <h2>Threads</h2>
    @helper.form(action = controllers.communications.routes.ThreadController.loadThread) {
      <select name="threadid" class="form-control">
        @activeThreads.sortBy(_.occurrence).map { t =>
        <option value="@t.internalId">@t.subject on @t.sentTime</option>
        }
      </select><p/>
      <button class="btn btn-default">Load</button>
    }
  <hr>
  <button type="button" id="create-new" class="btn btn-success btn-large btn-block btn-lg"
					role="button" data-toggle="modal" data-target="#createThreadModal">Create New Thread</button>
	</div>
  @views.html.communications.thread(threadForm, receivers, messageForm)
}