@(user:UserAccount)

@common.main("Profile") {

<div class="col-md-6 col-md-offset-1">
<div class="heading-banner">
	<h4>@user.name</h4>
</div>
<hr/>
<div class="col-md-3 col-md-offset-1">
	<div><strong>Phone</strong></div>
	<div><strong>Email</strong></div>
	<p></p>
	<div><strong>Apartment</strong></div>
	<div><strong>Building</strong></div>
	<div><strong>Real Estate</strong></div>
</div>

<div class="col-md-3 col-md-offset-1">
	<div>@user.phone</div>
	<div>@user.email</div>
	<p></p>
	<div>@user.apartment.apartmentNo</div>
	<div>@user.apartment.apartmentBuilding.name</div>
	<div>@user.apartment.apartmentBuilding.realEstateCompany.name</div>
	</div>
</div>
<!-- <div class="col-md-4">
	<img class="img-responsive center-block profile"
		src="@routes.Assets.at("images/1005003.jpg")"></img>
</div>
 -->
}
