@(companies: List[RealEstateCompany])

@common.main("Select Apartment") {
<div class="col-md-12 text-center">
	<span class="label label-info">Congratulations! You've successfully created your account.</span>
</div>

<div class="col-md-4 col-md-offset-4">
	<div class="heading-banner">
		<h2>Select Apartment</h2>
	</div>
	<hr/>
	<form id="form-select-apartment" role="form" method="post" action="">
		<p><select class="form-control" id="selectRealEstate">
			@for(company <- companies) {
				<option value="@company.id">@company.name</option>
			}
		</select></p>
		
		<p><select class="form-control" id="selectBuilding">
			
		</select></p>
		
		<p><select class="form-control" id="selectApartment">
			
		</select></p>
		
		<button type="submit" class="btn btn-success btn-block" id="selectApartmentSubmit">Submit</button>
		
		<script>
			$("#selectRealEstate").change(function() {
				$.getJSON("/getApartmentBuilding/" + $(this).val(),
				function(json) {
					for (var i = 0; i < json.length; i++) {
						$("#selectBuilding").append("<option value=" + json[i].id + ">" + 
							json[i].name + "</option>");
					}
				}
			};
		</script>
	</form>
</div>
}
