@(companies: List[RealEstateCompany])

@common.main("Select Apartment") {
<div class="col-md-12 text-center">
	<span class="label label-info">Congratulations! You've successfully created your account.</span>
</div>

<div class="col-md-4 col-md-offset-4">
	<div class="heading-banner">
		<h2>Select Apartment</h2>
	</div>
	<hr/>
	<form id="form-select-apartment" role="form" method="post" action="/selectApartment">
		<p><select class="form-control" id="selectRealEstate" name="realEstateCompany" onChange="getApartmentBuildings($(this));">
			@for(company <- companies) {
				<option value="@company.id">@company.name</option>
			}
		</select></p>
		
		<p><select class="form-control" id="selectBuilding" name="apartmentBuilding" onChange="getApartments($(this));">
			
		</select></p>
		
		<p><select class="form-control" id="selectApartment" name="apartment">
			
		</select></p>
		<script>
		
		function getApartmentBuildings(e) {
			$.getJSON("/getApartmentBuilding/" + $(e).val(), {},
				function(json) {
				$("#selectBuilding").empty();
					for (var i = 0; i < json.length; i++) {
						$("#selectBuilding")
							.append("<option value=" + json[i].id + ">" + json[i].name + "</option>");
					}
					getApartments($("#selectBuilding").children(":first"));
				}
			)
		};

		function getApartments(e) {
			$.getJSON("/getApartment/" + $(e).val(), {},
				function(json) {
				$("#selectApartment").empty();
					for (var i = 0; i < json.length; i++) {
						$("#selectApartment")
							.append("<option value=" + json[i].id + ">" + json[i].name + "</option>");
					}
				}
			)
		};

		getApartmentBuildings($("#selectRealEstate").children(":first"));
		</script>
		<button type="submit" class="btn btn-success btn-block" id="selectApartmentSubmit">Submit</button>
	</form>
</div>
}
