@(signUpForm: Form[models.UserAccount])

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog"
	aria-labelledby="signUpModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
			</div>
			<div class="modal-body">

				@helper.form(action = controllers.account.routes.MainController.signUp()) {
					@helper.input(signUpForm("name"),
						 '_showConstraints -> false,
						 '_label -> null) { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Name">
					}
					<p><input type="email" class="form-control"
						placeholder="Email address" required="required"></p>
					<p><input type="tel" class="form-control"
						placeholder="Phone"></p>
					<p><input type="password" class="form-control" placeholder="Password"
						required="required"></p> 
					<p><button type="button" class="btn btn-default">Select Image</button>
						<b>1005003.jpg</b></p>
				}

			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success">Sign Up</button>
			</div>
		</div>
	</div>
</div>