html{
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.content {
	height: 82%;
	vertical-align: middle;
	padding: 5% 0 3% 0;
}

img#main, sign-up-in {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.footer {
	height: 15%;
	text-align: center;
}

.footer li {
	display: inline;
	padding: 0 5px;
}	