html{
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.content {
	height: 73%;
	vertical-align: middle;
	padding: 8% 0 4% 0;
}

table
{
border-collapse:collapse;
width:100%;
}
table, td, th
{
border:1px solid black;
}
td
{
text-align:center;
padding:15px;
}
th
{
height:50px;
}

img#main {
	height: 100%;
	vertical-align: middle;
	float: left;
	overflow: hidden;
	width: 60%;
}

form#sign-up-in {
	margin-top: 20%;
	align: center;
	width: 30%;
	float:right;
	overflow: hidden;
	height: 40%;
}

#sign-up.btn, #sign-in.btn {
	
}

.footer {
	height: 10%;
	text-align: center;
}

.footer li {
	display: inline;
	padding: 0 5px;
}	

input#sign-up, input#sign-in {

}