
@common.main("Add a Scheduled Task") {
	
	<br>
	<br>
	<br>
	
	<div class="row">
	
	  <div class="col-md-4">
	  	Type: 		
	  </div>
	  
	  <div class="col-md-4">
	  	<!-- Single button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    Select task type <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Electricity</a></li>
		    <li><a href="#">Gas Supply</a></li>
		    <li><a href="#">Water Supply</a></li>
		    <li><a href="#">Sewerage</a></li>
		    <li><a href="#">Elevator</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</div>
	  </div>	 
	   
	</div>
		
	<br><br>
		
	Description: 
	<input type="text" name="description"></input>
	<br>
	
	Deadline:
    <input type="date" name="date"></input>
	<br>
	
    <button id="submit">Save</button>
	<br>
}
