
@common.main("Add a Scheduled Task") {
	
	<br>
	<br>
	<br>
	
	<div class="container-fluid">
		<div class="row">	
		
		  <span class="col-md-1">
		  	Type: 		
		  </span>
		  
		  <span class="col-md-1">
		  	<!-- Single button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    Select task type <span class="caret"></span>
			  </button>		  
			</div>
		  </span>	 	
		</div>
			
		<br>
		
		<div class="row">
		
			<span class="col-md-1">
			  	Description: 		
			</span>
				
			<span class="col-md-1">
				<input type="text" name="description"></input>
			</span> 
		
		</div>
		
		<br>
		
		<div class="row">
		
			<span class="col-md-1">
			  	Deadline: 		
			</span>
				
			<span class="col-md-1">
				<input type="date" name="date"></input>
			</span> 
		
		</div>	

	</div>	
	
	<br>
	
    <button id="submit">Save</button>
	<br>
}
