@(signUpForm: play.data.Form[models.UserAccount], signInForm: play.data.Form[models.SigninInfo])

@common.guest("Residential Building Management System") {
	<div class="container">
		<img id="main" src="@routes.Assets.at("images/apartment.png")"></img>
		<div class="container" id="sign-up-in-container">
			<div class="heading-banner">
				<h4>Automation Scheme for Apartment Building Management</h4>
			</div>
			<hr/>
			<form id="sign-up-in">
				<button type="button" id="sign-up" class="btn btn-primary btn-large btn-block btn-lg" 
					role="button" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
				<p class="or">Or</p>
				<button type="button" id="sign-in" class="btn btn-default btn-large btn-block btn-lg"
					role="button" data-toggle="modal" data-target="#signInModal">Sign In</button>
			</form>
		</div>
	</div>
	@views.html.account.signInModal()
	@views.html.account.signUpModal(signUpForm)
}