
@common.main("Maintenance Tasks Records") {	

	<br>
	<br>
	<br>
	
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h3>Maintenance Tasks Records</h3></div>
	  <div class="panel-body">	   
	 </div>
	
	  <!-- Table -->
	  <table class="table table-bordered table-striped">
	  
	    <tr>
		<th>Type</th>
		<th>Description</th>		
		<th>Deadline</th>
		<th>Status</th>
		<th>Note</th>
		</tr>
		
		<tr class="success">
		<td>Electricity Maintenance</td>
		<td>Monthly electricity checking</td>
		<td>07-01-14</td>
		<td>Done</td>
		<td>No problems found</td>
		</tr>
		
		<tr class="success">
		<td>Gas Supply Maintenance</td>
		<td>Monthly gas supply checking </td>
		<td>07-01-14</td>
		<td>Done</td>
		<td>One joint replaced</td>
		</tr>
		
		<tr class="success">
		<td>Water Supply Maintenance</td>
		<td>Bi-weekly water supply checking </td>
		<td>15-01-14</td>
		<td>Done</td>
		<td>No problems found</td>
		</tr>
		
		<tr class="success">
		<td>Water Supply Maintenance</td>
		<td>Bi-weekly water supply checking </td>
		<td>30-01-14</td>
		<td>Done</td>
		<td>No problems found</td>
		</tr>
		
		<tr class="success">
		<td>Sewerage Maintenance</td>
		<td>Monthly sewerage connections check </td>
		<td>30-01-14</td>
		<td>Done</td>
		<td>No problems found</td>
		</tr>
		
		<tr class="success">
		<td>Elevator Maintenance</td>
		<td>Monthly elevators check </td>
		<td>07-01-14</td>
		<td>Done</td>
		<td>Buttons of elevator 3 replaced</td>
		</tr>
		
		<tr class="active">
		<td>Electricity Maintenance</td>
		<td>Monthly electricity checking</td>
		<td>07-02-14</td>
		<td>Queued</td>
		<td>---</td>
		</tr>
		
		<tr class="success">
		<td>Gas Supply Maintenance</td>
		<td>Monthly gas supply checking </td>
		<td>07-02-14</td>
		<td>Done</td>
		<td>No problems found</td>
		</tr>
		
		<tr class="active">
		<td>Water Supply Maintenance</td>
		<td>Bi-weekly water supply checking </td>
		<td>15-02-14</td>
		<td>Queued</td>
		<td>---</td>
		</tr>
		
		<tr class="warning">
		<td>Sewerage Maintenance</td>
		<td>Monthly sewerage connections check </td>
		<td>28-02-14</td>
		<td>Cancelled</td>
		<td>Cancelled due to other task of same type</td>
		</tr>
		
		<tr class="success">
		<td>Sewerage Maintenance</td>
		<td>Unexpected failure in a sewerage connection </td>
		<td>30-01-14</td>
		<td>Done</td>
		<td>Crack in main pipeline 3. Replaced.</td> 
		</tr>
	  </table>
	</div>
}
