
@common.main("Query Maintenance Tasks Records") {	

	<br>
	<br>
	<br>
	
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h3>Maintenance Tasks Records Query</h3></div>
	  <div class="panel-body">	   
	 </div>
	
	  <!-- Table -->
	  <table class="table table-bordered table-striped">
	  
	    <tr>
		<th>
			<!-- Split button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-default"> Type </button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only"> Select Type </span> 
			  </button> 
			</div>
		</th>
		<th>
			<button type="button" class="btn btn-default">Description</button>
		</th>		
		<th>
			<!-- Split button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-default">Deadline</button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only"> 14/02/2014 </span> 
			  </button> 
			</div> 
		</th>
		<th>
			<!-- Split button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-default"> Status </button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only"> Queued </span> 
			  </button> 
			</div> 
		</th>
		<th>
			<button type="button" class="btn btn-default">Note</button>
		</th>
		</tr>
		
		<tr class="active">
		<td>Electricity Maintenance</td>
		<td>Monthly electricity checking</td>
		<td>07-02-14</td>
		<td>Queued</td>
		<td>---</td>
		</tr>
		
	  </table>
	</div>
}
