@(title: String)

<title>@title</title>
<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.css")'>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
<link rel='stylesheet' href='@routes.Assets.at("javascripts/bootstrap.js")'>
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
<script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>