@(title: String)

<title>@title</title>
<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>

<!-- <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.css")'>  -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.min.js")'></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!-- <link rel='text/javascript' href='@routes.Assets.at("javascripts/bootstrap.js")'> -->

<style type="text/css">
.glyphicon {
  font-family: 'Glyphicons Halflings';
  src: url(@routes.Assets.at("fonts/glyphicons-halflings-regular.eot"));
}
</style>